@import "@/styles/variables.scss";

html {
  font-size: 16px;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $dark-color;
  .is-success {
    .birthday-picker,
    input.input,
    select {
      border-color: $success;
    }
  }

  .button {
    &.is-small {
      font-size: 0.75em;
    }
    &.is-medium {
      font-size: 1.25em;
    }
    &.is-large {
      font-size: 1.5em;
    }
  }

  .is-danger {
    .birthday-picker,
    input.input,
    select {
      border-color: $danger;
    }
  }

  .sidebar .event-type {
    select {
      border-color: #dbdbdb;
    }
    .select.is-danger::after {
      right: 0.5em;
    }
  }

  .birthday-picker_dropdown-header {
    user-select: none;
    cursor: pointer;
    pointer-events: all;
    &::before {
      content: "╳";
      position: absolute;
      top: 0.125em;
      left: 0.25em;
      font-weight: bold;
      cursor: pointer;
    }
  }
  .birthday-picker_dropdown {
    pointer-events: none;
    transform-origin: 0 0;
    transform: scale(0.9);
    .birthday-picker_dropdown-body {
      pointer-events: all;
    }
    .birthday-picker_dropdown-header {
      padding: 0.125em 0.5em;
    }
    table td {
      padding: 0;
      a {
        padding: 0.25em;
      }
    }
  }

  .spaced-row {
    span,
    strong,
    em {
      display: inline-block;
    }
    .text-label {
      font-size: 0.8em;
      margin: 0 0.375em 0 0;
    }
    span,
    em {
      margin: 0 1em 0 0;
    }
    span:last-child,
    em:last-child {
      margin: 0;
    }
  }
}

.column {
  display: flex;
  flex-flow: column nowrap;
}

.icon.reverse {
  i {
    transform: rotate(180deg);
  }
}

.icon.edit,
.icon.remove,
.mdi-plus {
  cursor: pointer;
}

.field.row {
  display: flex;
  flex-flow: row nowrap;
  .control.medium {
    width: 24em;
  }
  .column {
    display: flex;
    flex-flow: column nowrap;
    > .checkbox {
      padding-bottom: 0.25em;
    }
  }
  .preview-options {
    text-align: left;
    padding: 0.75em 0;
    font-size: 0.8em;
  }

  &.expandible {
    > .column {
      max-height: 1.25em;
      overflow: hidden;
      opacity: 0;
      pointer-events: none;
      transition: all 0.5s ease-in-out;
    }
  }
}

.option-text-edit-link:hover {
  font-style: italic;
  color: $green-label;
}

.field.left {
  text-align: left;
}

.label-expandible label {
  cursor: pointer;
}

.edit-form .expanded {
  .expandible {
    > .column {
      max-height: none;
      overflow: visible;
      opacity: 1;
      pointer-events: all;
    }
  }
}

.float-right {
  float: right;
  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 0;
    clear: both;
  }
}

form {
  .row.actions {
    justify-content: center;
    position: relative;
    .add-category {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

.row {
  display: flex;
  flex-flow: row nowrap;
  &.horizontal {
    &.label-right {
      flex-flow: row-reverse nowrap;
      label {
        display: inline-block;
        white-space: nowrap;
        margin-left: 0.375em;
      }
    }
    .control {
      &.short {
        max-width: 5em;
      }
    }
  }
  span,
  i {
    display: inline-block;
    margin-right: 0.5em;
  }
  .button {
    span {
      display: inline-flex;
    }
  }
}

.main-view > .controls {
  display: flex;
  flex-flow: row nowrap;
  .show-all {
    margin-left: 1em;
  }
  > .filter {
    max-width: calc(100% - 16em);
    min-width: 20em;
    input {
      max-width: 20em;
      width: 100%;
    }
  }
}

.questions > fieldset.question,
> .top-control.handle,
> .top-control > .inner-control {
  width: 1.75em;
  height: 2em;
  padding: 0.125em;
  transition: transform 0.33s ease-in-out, color 0.33s ease-in-out,
    opacity 0.33s ease-in-out;
  &:hover {
    color: $blue;
    opacity: 0.75;
  }
}

.close,
.action-button,
.questions > fieldset.question,
.top-control.handle {
  cursor: pointer;
}

#main {
  @media (max-width: $max-mobile-width) {
    .table-wrapper {
      max-width: 100%;
    }
  }
  table {
    tr:hover {
      td,
      th {
        background-color: rgba($bright-shade, 0.25);
      }
    }
    td {
      position: relative;
      max-width: 100%;
      &.priority {
        white-space: nowrap;
        width: 5em;
        cursor: pointer;

        .number {
          max-width: 2.5em;
          min-width: 2em;
          margin-right: 2em;
          &.short {
            input {
              width: 3.5em;
              max-width: 4.5em;
            }
          }
        }
        .alpha-num {
          position: absolute;
          top: 0.25em;
          right: 1em;
          transition: transform 0.5s ease-in-out;
          &:hover {
            transform: scale(1.25);
          }
        }
      }
      &.selected {
        background-color: $light-bg;
      }

      &.enabled {
        max-width: 4em;
      }

      &.highlighted {
        background-color: rgba($light-green, 0.5);
      }

      &.nowrap {
        white-space: nowrap;
        .control {
          float: left;
          clear: none;
        }
        .minutes-offset {
          width: 5em;
          input {
            text-align: right;
            font-size: 0.8em;
            height: 2rem;
          }
        }
        .date {
          width: 10em;
        }
        .time {
          width: 7.5em;
        }
      }

      &.lat-lng {
        .control {
          width: 5em;
        }
      }

      &.gender {
        max-width: 4em;
      }

      &.long-name {
        min-width: 16em;
        width: 25%;
      }

      ol {
        li {
          position: relative;
          span {
            cursor: pointer;
          }
          &:hover {
            background-color: $yellow-translucent;
          }
        }
      }

      &.bar-cell {
        min-width: 5em;
      }

      .bar {
        height: 1em;
        position: relative;
        background-color: $red-label;
      }

      .info-panel {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0.75em;
        border-radius: 0.5em;
        width: 50em;
        max-width: 90vw;
        box-shadow: 2px 2px 2px rgba($light-fg, 0.25);
        background-color: white;
        z-index: 40;
        display: flex;
        flex-flow: row wrap;
        @media (min-width: 50em) {
          flex-flow: row nowrap;
        }
        ul {
          display: flex;
          flex-flow: column nowrap;
          list-style-type: none;
          li {
            display: flex;
            flex-flow: row nowrap;
            .label {
              width: 10em;
              margin-right: 0.25em;
              text-align: right;
              font-size: 1em;
            }
            > ul.details {
              > li {
                font-size: 0.8em;
              }
            }
          }
        }
      }

      &.scores {
        white-space: nowrap;
        .info-panel {
          white-space: normal;
        }
        .icon {
          margin-left: 0.25em;
        }
      }
      .icon {
        cursor: pointer;
      }
    }
  }

  .b-table .table-wrapper.has-sticky-header {
    height: calc(100vh - 11em);
  }

  .results {
    > .b-tabs {
      > .tabs {
        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;
        right: 0;
        background-color: $light-bg;
        margin: 0 -5%;
        padding: 0.375em 5% 0 5%;
        > ul {
          margin-left: 50%;
          border: none;
          li {
            &.is-active {
              background-color: white;
              border-top-left-radius: 0.75em;
              border-top-right-radius: 0.75em;
            }
            a {
              text-transform: capitalize;
              padding: 0.375em 1em 0.125em 1em;
            }
          }
        }
      }
      > .tab-content {
        margin-top: 2.5em;
      }
    }
  }

  .icon {
    &.icon-ds::before {
      content: "\e932";
    }
    &.icon-as::before {
      content: "\e930";
    }
  }

  .icon.close {
    cursor: pointer;
    &:hover {
      i::before {
        color: $warning-color;
      }
    }
  }
}

.search-form {
  display: flex;
  flex-flow: row nowrap;
  .search-string {
    min-width: 30em;
  }
  background-color: white;
  button {
    margin-right: 0.5em;
  }
}

.user-form {
  padding: 2em 1em;
  align-self: center;
  justify-content: center;
  > .row.twin {
    display: flex;
    > div,
    > dl,
    > fieldset {
      width: 45%;
      &:first-child {
        margin-right: 10%;
      }
      .field {
        display: flex;
        flex-flow: row nowrap;

        &.wrap {
          flex-flow: row wrap;
          > .label {
            height: 100%;
          }
        }
      }
    }
  }
}

dl.twin-column {
  display: grid;
  @media (min-width: $min-standard-width) {
    grid-template-columns: 1fr 2fr;
  }
  @media (min-width: $min-tablet-width) {
    grid-template-columns: 1fr 1fr;
    dt {
      text-align: right;
      margin: 0 0.5em 0.5em 0;
    }
    dd {
      text-align: left;
      margin: 0 0 0.5em 0 0.5em;
    }
  }

  &.bold-labels {
    dt {
      font-weight: bold;
    }
  }

  &.left-aligned {
    dt {
      text-align: left;
    }
  }

  &.long-title {
    dt {
      font-weight: normal;
      font-style: italic;
    }
  }
}

.grid {
  display: grid;
}

.grid-4 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 2.5%;
  figure {
    position: relative;
    .remove {
      position: absolute;
      top: 0.25em;
      right: 0.25em;
      color: $red-label;
      opacity: 0;
      transition: opacity 0.25s ease-in-out;
      padding: 0.5em;
      background-color: white;
      border-radius: 50%;
    }
  }
  figure:hover .remove {
    opacity: 1;
    z-index: 20;
  }
}

span {
  &.lat,
  &.lng {
    display: inline-block;
    margin: 0 0.5em 0 0;
  }
}

#main .expanded .widget .b-tabs .tab-content {
  padding: 0 0 0.25em 0;
}

ul,
ol {
  text-align: left;

  &.horizontal {
    display: grid;
    align-items: flex-start;
    width: calc(100% - 2em);
    margin: 0.75em 0 1em 1em;
    @media (min-width: $min-tablet-width) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    @media (min-width: $min-standard-width) {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    > li {
      text-align: left;
      position: relative;
      margin: 0 0 0.5em 0;
      &::marker {
        color: $active-color;
      }
    }
  }
  &.compact {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    @media (min-width: $min-tablet-width) {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
  }
  &.compact.items-6,
  &.compact.items-5 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  &.compact.items-5 {
    @media (min-width: $min-tablet-width) {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
  }
  &.compact.items-6 {
    @media (min-width: $min-tablet-width) {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr lfr;
    }
  }
  &.compact.items-7 {
    grid-template-columns: 1fr 1fr 1fr lfr;
    @media (min-width: $min-tablet-width) {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr lfr lfr;
    }
  }
  &.plain {
    list-style-type: none;
  }
  &.errors {
    li {
      color: $warning-color;
    }
  }
}

li {
  strong,
  span {
    display: inline-block;
    margin-right: 0.5em;
  }
}

#main {
  min-height: 100vh;
  &.home {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    h1 {
      position: absolute;
      top: 0;
      left: 10%;
      right: 10%;
      font-size: 3vw;
      margin: 1em 0;
    }
    .signs {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      display: grid;
      margin: 2vw;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      column-gap: 2vw;
      row-gap: 2vw;
      user-select: none;
      i.symbol {
        font-size: 2.5vw;
        color: $light-fg;
      }
    }
  }

  h1 {
    span,
    em,
    strong {
      display: inline-block;
    }
    .text-label {
      &.left {
        margin-right: 0.5em;
      }
      &.right {
        margin-left: 0.5em;
      }
    }
    .rounded-box {
      border: solid 1px $dark-color;
      border-radius: 0.5em;
      margin: 0 0.75em;
      padding: 0.15em 0.25em;
    }
  }

  span.circle,
  div.circle {
    display: block;
    height: 1em;
    width: 1em;
    border-radius: 0.5em;
    &.rahu {
      background-color: $dark-grey;
    }
    &.yama {
      background-color: $blue;
    }
    &.gulika {
      background-color: $orange;
    }
  }

  div.legend {
    &.bottom-aligned {
      position: absolute;
      bottom: 0.0625em;
      left: 1.875em;
    }
    display: grid;
    grid-template-columns: 2em auto;
    .circle {
      margin: 0 0.5em;
    }
  }
}

.user-form {
  max-width: 40em;
  margin: 1em auto;
  @media (min-width: $min-tablet-width) {
    > .field {
      display: flex;

      position: relative;
      > label:first-child {
        width: 8rem;
        margin-right: 0.5em;
        text-align: right;
      }
      > .control {
        width: 16em;
      }
    }
    > button {
      margin-left: 0.5rem;
      width: 8em;
      justify-self: flex-start;
    }
  }
}
#main {
  .grid-row {
    display: grid;
  }
}
.chart-entry {
  position: relative;
  width: 100%;
  .datepicker,
  .timepicker {
    width: 10em;
  }

  .parent-info {
    display: flex;
    position: relative;
    span {
      display: inline-block;
    }
    .icon {
      margin-right: 0.5em;
      height: 1em;
      cursor: pointer;
      i {
        line-height: 1;
      }
      &:hover {
        color: $active-color;
      }
    }
    button {
      position: absolute;
      top: 0;
      right: 0;
    }
    align-items: flex-start;
  }

  .grid-row.date-time {
    position: relative;
    grid-template-columns: auto auto minmax(6em, 33.33%);
    width: 100%;
    column-gap: 0.5em;
    align-items: center;
    &::after {
      position: absolute;
      top: 0;
      right: 1.5em;
      font-family: "Material Design Icons";
      font-size: 1.5rem;
    }
    &.is-danger {
      &::after {
        content: "\F0028";
        color: $danger;
      }
    }
    &.is-success {
      &::after {
        content: "\F012C";
        color: $success;
      }
    }
    .tz-info {
      font-size: 0.9em;
      white-space: nowrap;
    }
  }

  .birthday-picker {
    min-height: 2em;
    max-height: 2.25em;
    position: relative;
    input {
      padding: 0.25em 0.5em;
    }
  }
  .birthday-picker,
  .is-medium {
    font-size: 1.125rem;
    input {
      font-size: 1.125rem;
    }
  }
  > .add-new {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 0;
  }
  .deg-mode {
    &.dms .dms-button,
    &.dec .dec-button {
      display: none;
    }
  }
}
.filter {
  min-width: 18em;
}

.toggle-main-nav {
  position: fixed;
  top: 0.5em;
  left: 0.5em;
  transition: left 0.75s ease-in-out;
  z-index: 100;
  cursor: pointer;
  .icon {
    i::before {
      transition: transform 0.75s ease-in-out;
    }
    &:hover i::before {
      transform: rotate(45deg);
    }
  }
}

#main .action-button {
  &.fixed {
    position: fixed;
    z-index: 80;
    bottom: 2.5vh;
    right: 2vw;
  }
  &.right {
    float: right;
  }
  .icon {
    transform: filter 0.5s ease-in-out;
  }
  &:hover {
    .icon {
      filter: invert(100%);
    }
  }
}

main {
  ol,
  ul,
  p {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
  }
  .datepicker .datepicker-table .datepicker-cell {
    padding: 0.125rem 0.25rem;
  }

  .main-view > .edit-form,
  .main-view.show-form .listing-table {
    height: 0;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
  }

  .main-view .listing-table,
  .main-view.show-form > .edit-form {
    height: 0;
    overflow: visible;
    opacity: 1;
    pointer-events: all;
    .key-name {
      min-width: 24em;
    }
    > .close {
      position: absolute;
      cursor: pointer;
      top: 0;
      right: 0;
      z-index: 51;
      &:hover {
        color: $active-color;
      }
    }
    &.misc-setting-form {
      > .field {
        > label:first-child {
          width: 6em;
        }
        > label.switch {
          margin-left: 2em;
          height: 3em;
        }
        .control {
          > textarea {
            width: 30em;
            max-width: 75%;
          }
        }
      }
      .actions.bottom {
        margin: 0.75em 0 1em 0;
        button {
          margin: 0 0.5em 0.5em 2em;
        }
      }
    }
  }

  .main-view > .edit-form {
    position: relative;
    max-width: 80em;
  }

  .tab-item {
    > .top-control {
      position: relative;
      margin: 0.5em auto 1em auto;
      justify-content: center;
      flex-flow: row wrap;
    }
  }

  .main-view .pref-opts-form {
    position: relative;
    max-width: 80em;
    margin: 0 auto;
    > .field > .control {
      position: relative;
      max-width: calc(100% - 6em);
      margin: 0 auto;
    }
    .key-scale-group {
      margin: 0.5em 0 1em 0;
      > .vertical {
        margin-left: 1em;
        > .field {
          label {
            width: 10em;
            text-align: right;
          }
        }
      }
    }
    .questions > fieldset.question {
      position: relative;
      clear: both;
      padding-left: 2em;
      margin: 0 auto 1em auto;
      .item-control {
        position: absolute;
        left: 0;
        cursor: pointer;
        transition: transform 0.333s ease-in-out;
        &:hover {
          transform: scale(1.2);
        }
      }
      > em.question-type {
        position: absolute;
        top: 0;
        right: 0;
      }
      .handle {
        top: 0.5em;
      }
      .expand {
        top: 3.5em;
      }
      .translate {
        top: 6.5em;
      }
      > .controls {
        clear: both;
        button {
          float: right;
        }
      }

      .key-field {
        display: flex;
        flex-flow: row nowrap;
        label {
          margin-right: 0.5em;
          width: 5em;
        }
        > .control {
          width: calc(100% - 6em);
        }
        input {
          width: 100%;
          font-size: 0.8em;
          border-color: none;
          border-radius: 0;
          color: $medium-grey;
          &:focus {
            outline: none;
          }
        }
      }
      .when-expanded {
        max-height: 0;
        opacity: 0;
        overflow: hidden;
      }
      &.expanded .when-expanded {
        max-height: 100em;
        opacity: 1;
        overflow: visible;
      }
      &.expanded {
        > em.question-type {
          opacity: 0;
          pointer-events: none;
        }
      }
      > .field {
        position: relative;
        margin: 0 auto;
        max-width: calc(100% - 6em);
        &.options {
          > button.plus {
            position: absolute;
            bottom: 0;
            right: 0;
          }
        }
        > label {
          text-align: left;
          margin-right: 0.75em;
        }
        &.rules {
          margin: 0.5em auto;
          border-top: dashed 1px $light-grey;
          > label {
            margin: 0;
            font-weight: normal;
            font-style: italic;
          }
        }
        .plus.option {
          margin-bottom: 1em;
        }
        &.options > .vertical {
          width: 100%;
        }
        .key-scale-group {
          width: 100%;
          .vertical {
            width: 100%;
          }
          label {
            margin-right: 0.5em;
          }
          .button.minus {
            margin-left: 1em;
            float: right;
          }
        }
      }
    }
    .multiple-key-scale {
      input[disabled] {
        display: none;
      }
      .key-scale-group > p {
        width: 20em;
        text-align: left;
      }
    }
    > .bottom.actions {
      padding: 1.5em 0;
      position: relative;
      .question.plus {
        position: absolute;
        right: 0;
        top: 1em;
      }
    }
  }

  .survey-wrapper {
    position: relative;
    .snippet-version-form {
      position: fixed;
      top: 15vh;
      left: 0;
      right: 0;
      opacity: 0;
      z-index: -1;
      pointer-events: none;
      .inner {
        position: relative;
        background-color: white;
        max-width: 76em;
        margin: 0 auto;
        padding: 2em 0.5em 1em 0.5em;
        border: solid 1px $light-grey;
        max-height: 85vh;
        overflow-y: auto;
        > fieldset.vertical {
          position: relative;
          height: auto;
        }
        .options {
          position: relative;
          margin: 0.75em 0;
          max-width: 60em;
        }
      }
      .row {
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        max-width: 70em;
        margin: 0 auto;
        .code {
          max-width: 5em;
          input {
            width: 3em;
          }
        }
        .text {
          min-width: calc(100% - 12em);
          margin-left: 0.5em;
        }
      }
      .close {
        position: absolute;
        top: 0.25em;
        right: 0.25em;
      }
      details {
        summary {
          text-align: left;
          cursor: pointer;
          margin-bottom: 0.5em;
          strong,
          em {
            display: inline-block;
            margin-right: 0.5em;
            &.num {
              &::before {
                content: "(";
              }
              &::after {
                content: ")";
              }
            }
          }
        }
      }
    }
    &.show-translation-overlay {
      .snippet-version-form {
        z-index: 40;
        opacity: 1;
        > .inner {
          pointer-events: all;
        }
      }
    }
    &.psychometric {
      .question {
        .field.type {
          display: none;
        }
      }
    }
  }

  .flex-row {
    display: flex;
    flex-flow: row nowrap;
    span {
      display: inline-block;
      margin-right: 0.5em;
    }
  }
  form.relations,
  .edit-form > fieldset {
    padding: 0.5em 0 1em 0;
    margin: 0.5em 0;
    border-bottom: dotted 1px $light-fg;
  }

  .inner-panel form.relations {
    width: calc(100% - 1.5em);
    .form-title {
      color: $dark-color;
      &::before {
        display: none;
      }
    }
  }
  form.relations {
    .refresh-types {
      display: none;
    }
    .horizontal {
      > label {
        max-width: 10em;
        text-align: right;
      }
      .number {
        width: 8em;
      }
      &.full .control,
      .control.dropdown {
        width: calc(100% - 11em);
      }
      .control.dropdown {
        span.select,
        select {
          width: 100%;
        }
      }
      &.twin {
        .control {
          max-width: calc(50% - 6.75em);
        }
        .range-separator {
          display: inline-flex;
          height: 2em;
          width: 1.5em;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }

  .edit-form > fieldset,
  .edit-form {
    &.file-upload-form {
      padding: 0.5em 0.5em 0.75em 0.5em;
      .field {
        .upload {
          margin-top: -0.125em;
        }
      }
    }

    tr.is-selected td button.is-danger,
    tr td button.is-danger {
      display: none;
    }

    tr {
      td {
        &.drag-handle.weight {
          width: 3em;
          vertical-align: center;
          span.icon {
            top: 0.5em;
          }
        }

        &.key {
          max-width: 6em;
        }
      }
    }

    tr:hover td button.is-danger {
      display: block;
    }
    .field > .vertical,
    > .field.vertical {
      display: flex;
      flex-flow: column nowrap;
      padding: 0.25em 0 0.5em 0;
    }

    .rules {
      .horizontal {
        display: inline-flex;
        flex-flow: row nowrap;
        label {
          padding: 0 0.25em 0 1em;
        }
        input[type="number"] {
          max-width: 5em;
          text-align: right;
        }
      }
    }

    .horizontal {
      display: flex;
      flex-flow: row nowrap;
    }

    .key-scale-group {
      input[type="number"] {
        max-width: 4em;
      }
    }

    .group.horizontal {
      display: flex;
      flex-flow: row nowrap;
    }

    .column > .field,
    > .field {
      position: relative;
      > label:first-child {
        position: relative;
        margin-right: 0.5em;
        text-align: right;
      }
      &.actions {
        > label:first-child {
          width: 11.5em;
        }
      }
      span:not(.icon),
      time,
      em {
        display: inline-block;
        margin: 0 0.5em;
      }
      > .info {
        max-width: 16em;
      }
      span.refresh-types {
        position: absolute;
        top: 2em;
        left: 0;
        cursor: pointer;
        i::before {
          transition: transform 0.333s ease-in-out;
        }
        &:hover {
          i::before {
            transform: rotate(30deg);
          }
        }
      }
    }

    .column > .field {
      > label:first-child {
        width: 9em;
      }
    }

    > .field {
      > label:first-child {
        width: 13.5em;
      }
    }

    .translation {
      .text {
        min-width: 20em;
      }
    }
    .unicode {
      max-width: 3em;
    }
    .term {
      min-width: 20em;
    }
    .b-checkbox {
      > span.control-label {
        text-align: left;
        padding: 0 0.75em 0 0;
        margin: 0 0.75em 0 0;
      }
    }
    .flex-rows {
      display: flex;
      flex-flow: row wrap;
      justify-items: flex-start;
      margin: 0 0 0.75em 0;
      > label {
        margin: 0 1em 0.75em 0;
      }
    }
    .medium-small {
      font-size: 0.8em;
    }
  }

  .draggable-rows {
    user-select: none;
    table {
      tr td {
        pointer-events: none;
        &.drag-handle,
        &.edit,
        input,
        textarea,
        button,
        label,
        select {
          pointer-events: all;
        }
        &.drag-handle {
          padding-left: 2em;
          cursor: pointer;
          position: relative;
          .icon {
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0.5;
          }
        }
      }
      tr:hover td.drag-handle .icon {
        opacity: 1;
      }
    }
  }
}

.geoloc {
  margin: 0.5em 0;
  position: relative;
  .coord {
    max-width: 5.25em;
    @media (min-width: $min-large-mobile-width) {
      max-width: 7em;
    }
  }
  .alt {
    max-width: 4.75em;
    input {
      text-align: right;
    }
  }
  &.dms {
    .coord {
      max-width: 6em;
      @media (min-width: $min-large-mobile-width) {
        max-width: 10em;
      }
    }
  }
  .action-icon {
    position: absolute;
    right: 0;
    &.first {
      top: 0.25em;
    }
    &.second {
      top: 2.5em;
    }
  }
}

.chart-entry {
  .has-addons.geoloc {
    display: grid;
    grid-template-columns: 7fr 7fr 3fr;
    column-gap: 0.5em;
    .field {
      label {
        margin: 0;
        font-size: 0.8em;
        text-align: left;
      }
    }
  }
  .type-row {
    grid-template-columns: 1fr 3fr;
    column-gap: 0.5em;
    .rodden {
      max-width: 20em;
      justify-self: flex-end;
      select {
        max-width: 100%;
      }
    }
  }
}

.show-forms .form-column {
  overflow-y: auto;
}

.form-column {
  padding: 0 0 2em 0;
  min-width: 30em;
  height: calc(100vh - 6em);
  .edit-form.chart-form {
    .button {
      padding: 0 0.5em 0.25em 0.5em;
      max-height: 2em;
    }
    margin-bottom: 1em;
    &:not(:first-child) {
      padding-top: 1em;
      margin-top: 1em;
      border-top: dashed 1px $medium-grey;
    }
  }
  .forms-wrapper {
    position: relative;
    width: 100%;
    min-height: calc(100vh - 6em);
  }
}

table {
  tr {
    &.unpublished {
      td {
        background-color: rgba($red-label, 0.0625);
      }
    }
  }
  td {
    span {
      display: inline-block;
    }
    .symbol {
      margin-right: 0.5em;
    }
    .unicode {
      font-size: 0.75em;
    }
    .lang {
      &::before {
        content: "(";
      }
      &::after {
        content: ")";
      }
    }
  }
  td {
    .column {
      display: flex;
      flex-flow: column wrap;
    }
    .edit-trigger {
      display: inline-block;
      width: 100%;
      position: relative;
      cursor: pointer;
    }
  }

  ul.collapsible {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0.5em;
      cursor: pointer;
      transition: all 0.333s ease-in-out;
    }
    &.collapsed {
      &::after {
        content: "▼";
      }
      li:not(:first-child) {
        max-height: 0;
        opacity: 0;
        transition: max-height 0.125s ease-in-out;
      }
      li {
        > .translation-info {
          color: rgba($green-label, 0.6667);
        }
      }
    }
    &.expanded {
      &::after {
        content: "▲";
      }
      li:not(:first-child) {
        max-height: 10em;
        opacity: 1;
        transition: max-height 0.6666s ease-in-out;
      }
      li {
        > .translation-info {
          display: none;
        }
      }
    }
    &:hover {
      &::after {
        color: $active-color;
        transform: scale(1.2);
      }
    }
  }
}

#app #main {
  .results {
    position: relative;
    max-width: 100%;
  }

  fieldset {
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-block-start: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
    padding-block-end: 0;
    min-inline-size: auto;
  }

  .table-wrapper {
    max-width: 100%;
  }

  .b-table {
    clear: both;
  }

  table {
    thead th,
    thead td,
    tbody td {
      font-size: 0.9375em;
    }

    tbody {
      tr.active {
        background-color: $highlight-color;
      }

      td {
        > span:not(.icon) {
          display: inline-block;
          margin-right: 0.5em;
          &.degrees,
          &.symbol {
            margin-right: 0.25em;
          }
        }

        .collapse-content {
          position: relative;
        }
        .notification {
          position: absolute;
          top: 0;
          left: 0;
          padding: 0.25rem 2%;
          min-width: 12em;
          z-index: 100;
        }
        .content {
          font-size: 0.75rem;
          p {
            margin: 0;
            span {
              &.text {
                width: 5em;
                margin-right: 0.5em;
                font-style: italic;
                &::after {
                  content: ":";
                }
              }
            }
          }
          .value {
            display: inline-block;
            margin-right: 0.5em;
            &:last-child {
              margin-right: 0;
            }
          }
        }
        &.nakshatra {
          button {
            font-size: 0.8rem;
            padding: 0 0.25em;
            line-height: 1em;
          }
        }
      }
    }
  }

  .compact {
    table {
      tbody {
        td {
          &.value {
            font-size: 0.75em;
          }
          white-space: nowrap;
          span.key {
            font-size: 0.75rem;
          }
          span.symbol {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}

#nav-aside {
  display: flex;
  flex-flow: column nowrap;
  position: fixed;
  background-color: white;
  top: 0;
  bottom: 0;
  left: -20em;
  width: 15em;
  transition: left 0.75s ease-in-out;
  z-index: 50;

  .actions {
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    min-width: 8em;
    display: flex;
    flex-flow: row nowrap;
    z-index: 80;
    .refresh {
      cursor: pointer;
      i {
        transition: transform 0.25s ease-in-out;
      }
      &:hover {
        i {
          color: $active-color;
          transform: rotate(90deg);
        }
      }
    }

    .logout-trigger {
      margin: 0 0 0 2em;
      cursor: pointer;
      &:hover {
        i {
          color: $active-color;
        }
      }
    }
    .info-widget {
      position: relative;
      margin: 0 0 0 1.5em;
      i {
        transition: transform 0.5s ease-in-out;
      }
      &:hover {
        i {
          transform: rotate(90deg);
        }
      }
      .inner {
        position: absolute;
        top: 2em;
        border: solid 1px $light-grey;
        left: 0;
        opacity: 0;
        pointer-events: none;
        padding: 0.5em;
        border-radius: 0.5em;
        background-color: white;
        transition: opacity 0.5s ease-in-out;
      }
      dl.inner {
        width: 16em;
        display: grid;
        grid-template-columns: 5.5em auto;
        font-size: 0.9em;
        dt {
          text-align: right;
          margin-right: 0.5em;
          &::after {
            content: ":";
          }
        }
        dd {
          font-weight: bold;
          text-align: left;
        }
      }
      &:hover .inner {
        opacity: 1;
        pointer-events: all;
      }
    }
    .web-info {
      .icon {
        &.www {
          color: $blue;
        }
        &.dev {
          color: $red-label;
        }
        &.localhost {
          color: $orange;
        }
      }
    }
    .clock-info {
      color: $dark-grey;
    }
  }

  footer.side-footer {
    position: absolute;
    bottom: 0.5em;
    text-align: center;
    left: 1em;
    right: 1em;
    span,
    em {
      display: block;
      font-size: 0.75em;
    }
  }

  nav {
    margin-top: 5em;
    background-color: white;
    z-index: 51;
    ul.menu {
      li {
        padding: 0.5em;
        text-align: right;
        a {
          font-weight: bold;
          color: $link-color;
          display: inline-block;
          padding: 0 0.5em;
          margin: 0 0.5em;
        }
        &.active .router-link-active {
          color: $active-color;
        }
        .action {
          cursor: pointer;
        }
      }
      @media (min-width: 50em) {
        > li {
          font-size: 1.125em;
        }
      }
      @media (min-width: 60em) {
        > li {
          font-size: 1.2em;
        }
      }
      @media (min-width: 70em) {
        > li {
          font-size: 1.25em;
        }
      }
      @media (min-width: 80em) {
        > li {
          font-size: 1.333333em;
        }
      }
    }
  }
}

.show-main-nav #main {
  .results {
    > .b-tabs > .tabs,
    h3.subject-name-display {
      left: calc(16.625em + 2.5%);
    }
  }
}

.show-main-nav {
  #nav-aside {
    left: 0;
  }

  #main {
    margin-left: 15em;
    margin-right: -15em;
    min-height: 90vh;
  }
  .toggle-main-nav {
    left: 15.5em;
    .icon {
      i::before {
        transform: rotate(90deg);
      }

      &:hover i::before {
        transform: rotate(30deg);
      }
    }
  }
}

#main {
  position: relative;
  margin: 0 0 1em 0;
  transition: margin 0.75s ease-in-out;
  align-content: center;
  padding: 0 2.5%;

  .b-tabs .tab-content {
    padding: 0.5em 0 1em 0;
  }

  .info-bar {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    font-size: 0.875rem;
    margin: -2.25em 0 3em 0;
    > div {
      min-width: 20em;
      text-align: left;
      margin: 0;
      line-height: 1.25em;
      > span {
        display: inline-block;
        &.text {
          margin-right: 0.25em;
        }
      }
    }
    .horizontal {
      display: flex;
      flex-flow: row wrap;
      span {
        display: inline-block;
        margin-right: 1em;
      }
    }
  }

  td {
    li {
      span {
        display: inline-block;
        margin-right: 0.5em;
      }
    }
    .delete &.edit,
    .remove,
    .edit {
      cursor: pointer;
    }

    &.column-cell {
      > label,
      > div {
        width: 100%;
      }
      > .checkbox {
        margin-left: 0.5em;
      }
      &.narrow {
        max-width: 6em;
      }
    }

    &.lang {
      white-space: nowrap;
      &.with-locale {
        .code {
          max-width: 4em;
          width: 4em;
          input {
            max-width: 3em;
            margin-left: 0.5em;
          }
        }
      }
    }

    &.edit {
      white-space: nowrap;
      > a,
      > span {
        display: inline-flex;
        margin-left: 1em;
      }
    }

    .edit {
      &:hover {
        color: $active-color;
      }
    }
    .remove,
    .delete {
      opacity: 0;
      transition: opacity 0.25s ease-in-out;
      &:hover {
        color: $warning-color;
      }
    }
    .remove > .is-small {
      font-size: 1.25em;
    }
    .field {
      position: relative;
      .top-item {
        position: absolute;
        top: 0;
      }
      .remove-item {
        right: 2.5em;
        opacity: 0;
        &:hover {
          i::before {
            color: $warning-color;
          }
        }
      }
      .handle {
        left: 0;
        opacity: 0;
        transform: scale(1.2) translateY(12.5%);
        &:hover {
          i::before {
            color: $active-color;
          }
        }
      }
      .organise-trigger {
        position: absolute;
        top: 0.25em;
        left: -2rem;
        cursor: pointer;
        &:hover {
          background-color: rgba($yellow-label, 0.25);
        }
        .count {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 0.75em;
          padding: 0.125em 0.25em;
          line-height: 1em;
          height: 2em;
          min-width: 2em;
          text-align: center;
          border: solid 1px $dark-color;
          border-radius: 50%;
        }
      }
      &:hover {
        .remove-item {
          opacity: 1;
        }
      }
      .toggle-edit-expand {
        right: 0;
        i::before {
          transition: transform 0.333s ease-in-out;
        }
      }
      &.open {
        .icon.toggle-edit-expand {
          i::before {
            color: $active-color;
            transform: rotate(-30deg);
          }
        }
      }
    }

    .add-item {
      clear: both;
      float: right;
      margin: 0 0 1em 0;
    }
    &.key-column {
      max-width: 8em;
    }
    &.options-column {
      min-width: 22em;
      .options {
        margin-left: 2rem;
      }
    }

    .sortable {
      .handle {
        opacity: 1;
      }
      .field label {
        padding-left: 1em;
      }
    }
  }

  tr:hover {
    td {
      .remove,
      .delete {
        opacity: 1;
      }
    }
  }

  .b-tabs {
    .tabs {
      li {
        display: flex;
        margin-left: 0;
        p {
          margin-right: 0.75em;
          strong {
            margin-right: 0.375em;
          }
        }
      }
    }
  }

  dl.pre {
    max-width: 92.5vw;
    margin: 1em 0;
    overflow: hidden;
    max-height: 5em;
    overflow-y: auto;
  }

  .sidebar {
    .chart-subjects {
      width: 100%;
      li {
        span.info {
          width: 100%;
          display: inline-flex;
          flex-flow: row nowrap;
        }
      }
    }

    .new-connection {
      position: relative;
      .dropdown {
        width: 12em;
      }
      .relationship-error {
        position: absolute;
        top: 2.5em;
        right: 0;
        color: $red-label;
        z-index: 26;
      }
      .row {
        .search {
          margin-right: 0.5em;
        }
      }
    }

    .form-column {
      > nav,
      > div.controls {
        > h3 {
          margin: 0.5em -5%;
          padding: 0.25em 0.5em;
          color: white;
          font-weight: bold;
          user-select: none;
          pointer-events: none;
        }
      }
    }

    .show-forms .form-column {
      > nav,
      > div.controls {
        > h3 {
          background-color: $dark-grey;
          pointer-events: all;
          cursor: pointer;
        }
      }
    }

    .form-column nav,
    .tab-content {
      ol {
        list-style-type: none;
        margin: 0.75em 0;
        li {
          cursor: pointer;
          &:hover {
            background-color: $yellow-translucent;
          }
        }
      }
    }
  }

  .tabs ul {
    align-items: flex-end;
    justify-content: flex-end;
  }

  h3.subject-name-display {
    position: fixed;
    left: 2.5%;
    top: 0.625em;
    cursor: pointer;
    user-select: none;
    z-index: 600;
    transition: left 0.75s ease-in-out;
  }

  .in-progress {
    display: grid;
    grid-template-columns: 1fr;
    font-size: 1rem;
  }

  .grid-panes {
    min-height: calc(100vh - 8em);
  }

  .in-progress {
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    margin: 3em auto;
    .progress-wrapper {
      width: 66.666667%;
    }
  }

  .current-timeline-date {
    margin: 0.5em auto -0.5em auto;
  }

  .selection,
  .chart > .nakshatra .grahas li {
    .dasha-level-1.icon,
    &.dasha-level-1 .icon {
      color: $red-label;
    }
    .dasha-level-2.icon,
    &.dasha-level-2 .icon {
      color: $blue-label;
    }
    .dasha-level-3.icon,
    &.dasha-level-3 .icon {
      color: $green-label;
    }
  }

  .column-panes {
    .kota-cakra {
      .kota-cakra-chart {
        background-size: 101%;
        background-position: 40% 40%;
      }
    }
  }
}

#app .b-checkbox.checkbox {
  &.su input[type="checkbox"]:checked + .check {
    background-color: $su-rgb;
    border-color: $su-rgb;
  }
  &.mo input[type="checkbox"]:checked + .check {
    background-color: $mo-rgb;
    border-color: $mo-rgb;
  }
  &.ma input[type="checkbox"]:checked + .check {
    background-color: $ma-rgb;
    border-color: $ma-rgb;
  }
  &.me input[type="checkbox"]:checked + .check {
    background-color: $me-rgb;
    border-color: $me-rgb;
  }
  &.ve input[type="checkbox"]:checked + .check {
    background-color: $ve-rgb;
    border-color: $ve-rgb;
  }
  &.ju input[type="checkbox"]:checked + .check {
    background-color: $ju-rgb;
    border-color: $ju-rgb;
  }
  &.sa input[type="checkbox"]:checked + .check {
    background-color: $sa-rgb;
    border-color: $sa-rgb;
  }
  &.ra input[type="checkbox"]:checked + .check {
    background-color: $ra-rgb;
    border-color: $ra-rgb;
  }
  &.ke input[type="checkbox"]:checked + .check {
    background-color: $ke-rgb;
    border-color: $ke-rgb;
  }
  &.all input[type="checkbox"]:checked + .check {
    background-color: $all-rgb;
    border-color: $all-rgb;
  }
  &.selected input[type="checkbox"]:checked + .check {
    background-color: $selected-rgb;
    border-color: $selected-rgb;
  }

  &.benefic input[type="checkbox"]:checked + .check {
    background-color: $benefic-rgb;
    border-color: $benefic-rgb;
  }
  &.malefic input[type="checkbox"]:checked + .check {
    background-color: $malefic-rgb;
    border-color: $malefic-rgb;
  }
  fieldset {
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-block-start: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
    padding-block-end: 0;
  }
}

#app .widget .b-radio.radio {
  input[type="radio"]:checked + .check {
    border-color: $dark-color;
    &::before {
      background-color: $dark-color;
    }
  }
}

.user-preference-form {
  width: 100%;
  max-width: 72em;
  margin: 0 auto;
  .grid-3.has-addons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 1em auto;
    .b-checkbox {
      margin: 0.75em 1em;
      display: flex;
      flex-flow: row nowrap;
      align-items: flex-start;
    }
  }
  .actions {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    button {
      margin: 0.75em 1em;
    }
  }
}

.home {
  position: relative;
  width: 100%;

  margin: 0 auto;
  .main-view {
    padding: 0 1em;
  }
}

#app {
  tr.hide {
    display: none;
  }
  .select > select:not([multiple]),
  input.input {
    padding-bottom: calc(0.125em - 1px);
    padding-top: calc(0.125em - 1px);
    height: 2em;
  }
  .select:not(.is-multiple):not(.is-loading)::after {
    margin-top: -0.525em;
  }
  .error-messages {
    li {
      color: $red-label;
    }
  }
}

.main-view {
  .main-title {
    margin: 0.75em 0;
  }
  h1.main-title {
    font-size: 1.5em;
  }
  h12.main-title {
    font-size: 1.375em;
  }
}

.collapsible {
  flex-flow: column;
  .inner {
    transition: max-height 2s ease-in-out, padding 0.5s ease-in-out;
  }
  &.closed {
    max-height: 100em;
    padding-top: 0;
    padding-bottom: 0;
  }

  h4.field-title,
  h3.form-title {
    position: relative;
    user-select: none;
    padding: 0.125em 0.25em 0.125em 1.75em;
    color: white;
    cursor: pointer;
    &::before {
      position: absolute;
      top: 0.125em;
      left: 0.25em;
    }
  }

  h3.form-title {
    font-size: 1.125em;
  }

  .row {
    display: flex;
    flex-flow: row nowrap;
  }

  &.closed {
    .inner {
      max-height: 0;
      pointer-events: none;
      overflow: hidden;
    }
    > h4.field-title,
    h3.form-title {
      &::before {
        content: "▶︎";
        transform: scale(1.25, 1) translate(16%, 5%);
      }
    }
  }

  &.open {
    > h4.field-title,
    h3.form-title {
      &::before {
        content: "▼";
        transform: scale(1.5, 1);
      }
    }
  }
}

.edit-form {
  .flags {
    .flag {
      margin: 1em auto;
      padding: 1em 0;
      border-bottom: dashed 1px $light-grey;
      &:last-child {
        margin-bottom: 2em;
      }
    }
    .horizontal {
      > label {
        margin: 0 0.5em 0 1em;
        &:first-child {
          width: 8em;
          text-align: right;
          margin: 0 0.5em 0 0;
        }
      }
    }
  }
  > .actions {
    margin: 1em auto;
    display: flex;
    flex-flow: row nowrap;
    button {
      margin: 0 2em;
    }
  }
  > .column {
    position: relative;
    > .remove {
      position: absolute;
      top: 0.75em;
      right: 2.5%;
      opacity: 0;
      transition: all 0.333s ease-in-out;
    }
    &:hover {
      > .remove {
        opacity: 1;
        transform: scale(1.5);
      }
    }
  }
}

.data-range-actions {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  > div {
    margin: 0 1em;
  }
  .b-numberinput {
    input {
      width: 4em;
    }
  }
  .b-slider {
    width: 75%;
    max-width: 60em;
  }
  .button {
    margin-left: 2em;
  }
}

main .edit-form .section .b-checkbox {
  .control-label {
    margin-left: 0.5em;
  }
}

.b-slider.is-disabled.active .b-slider-track {
  opacity: 0.875;
}

.b-slider.locked .b-slider-track {
  filter: hue-rotate(90deg);
}

.vertical {
  .b-radio.radio + .radio {
    margin-left: 0;
  }
}

.greek-lot-values {
  table tbody tr td {
    line-height: 1.25em;
  }
  &.has-mid {
    table tbody tr td {
      .degrees-dms {
        font-size: 0.8em;
      }
      &.name {
        min-width: 8em;
      }
    }
  }
}

.main-view {
  .editing-overlay {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    background-color: rgba($dark-color, 0.125);
    .close {
      position: absolute;
      top: 0.25em;
      right: 0.25em;
      z-index: 200;
    }
    .inner-panel {
      position: relative;
      margin: 0 auto;
      width: 95%;
      border-radius: 0.25em;
      padding: 0.5em;
      background-color: white;
      box-shadow: 2px 2px 2px rgba(153, 153, 153, 0.5);
      .save {
        position: absolute;
        top: 0.25em;
        right: 3em;
      }
      .long {
        width: calc(100% - 14.5em);
      }

      .full-name {
        width: 100%;
        .control.name {
          width: calc(100% - 16em);
        }
      }
      .text-list {
        margin: 0.5em 0;
        .text-item {
          width: calc(100% - 8em);
          margin-right: 0.75em;
        }
      }

      .date-time {
        > div {
          margin-right: 0.75em;
        }
      }

      .textarea-field {
        display: flex;
        flex-flow: row nowrap;
        label {
          width: 6em;
          margin-right: 0.5em;
        }
        .control.notes {
          width: calc(100% - 8em);
        }
      }
      .geoloc {
        max-width: 32em;
      }
    }

    ol.relations {
      margin-left: 2em;
      li {
        cursor: pointer;
        &:hover {
          font-style: italic;
        }
      }
    }

    &.relationship-overlay .inner-panel {
      max-width: 80em;
      form.relations {
        min-height: 20em;
        @media (min-height: 40em) {
          min-height: 24em;
        }
        max-height: 80vh;
        transition: opacity 0.5s ease-in-out;
        &.loading {
          opacity: 0;
        }
        &.loaded {
          opacity: 1;
        }
      }
    }

    &.show-autocomplete {
      .inner-panel {
        padding-top: 3em;
      }
      .partner-search {
        display: flex;
        position: absolute;
        top: 0.25em;
        left: 2.5%;
        right: 7.5%;
        label {
          max-width: 10em;
          width: 13.5em;
        }
        > .autocomplete {
          width: calc(100% - 6em);
          .control,
          input {
            width: 100%;
          }
        }
      }
    }

    &.upload-overlay .inner-panel,
    &.reassign-overlay .inner-panel {
      max-width: 60em;
      .year-span {
        .years {
          max-width: 5em;
        }
      }
    }
  }

  &.show-editing-overlay,
  .show-editing-overlay {
    .editing-overlay {
      opacity: 1;
      pointer-events: all;
      z-index: 2000;
    }
  }
}

body {
  .modal {
    z-index: 200;
  }
}

.ip-list {
  .horizontal {
    .icon {
      margin-left: 0.5em;
      &.remove {
        cursor: pointer;
      }
    }
    .control {
      input {
        width: 13.5em;
      }
    }
    &.actions {
      justify-content: flex-start;
      display: flex;
      .add-new {
        margin-left: 13.5em;
      }
      button {
        margin-left: 2em;
      }
    }
  }
}
